.h2 {
    color: black;
    text-align: center;
    font-size: 30px;
}

.background
{
    background-image: linear-gradient(rgb(4, 68, 245), rgb(25, 133, 255));
    
}

.tvDetail {
    padding-top: 50px;
    color: #ffffff;
    background: #fffefeb9;
    margin: 0;  
    font-family: sans-serif; 
}
.tvDetail-container{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
   
    
}
.tvDetail-img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    height: 500px;
}

.trailer-container iframe {
    border-radius: 10px;
    width: 300%;
    height: 497px;
}

.tvDetail-container2 {
    display: flex;
    gap: 10px;
    
}

.tvDetail-container2 p {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
.tvDetail-container2 h2{
padding-left: 20px;
}

.tvDetail-genres {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    padding-left: 20px;
}

.genre-badge {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #fff; 
    border-radius: 20px; 
    background-color: rgba(255, 255, 255, 0.137); 
    color: #fff;  
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.tvDetail-container3{
    display:flex;
    flex-direction: column; 
    align-items: center;
    color: black;
    
}
.tvDetail-container3 p {
    border-bottom: 1px solid rgb(0, 0, 0);
    gap: 10px;
    padding-bottom:10px ;
    width: 50%;
} 
.tvDetail-container3-home{
    border-bottom: 1px solid rgb(0, 0, 0);
    gap: 10px;
    padding-bottom:10px ;
    width: 100%;
    text-align: center;
    color: black;
}


.cast-section {
    position: relative;
    text-align: center;
    
}
.cast-scroll-wrapper {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.cast-scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    margin-top: 10px;
    padding: 10px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 95%; 
    white-space: nowrap;
    
}

.cast-scroll-container::-webkit-scrollbar {
    display: none;
}


.cast-card {
    min-width: 120px;
    text-align: center;
    flex: 0 0 auto;
    
}


.cast-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(0, 0, 0);
}

.cast-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    color: black;
}


.cast-character {
    margin-top: -5px;
    font-size: 12px;
    color: gray;
}


.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10%;
}


.scroll-button.cast-left {
    left: 10px;
}

.scroll-button.cast-right {
    right: 10px;
}


.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.seasons {
    color: black;
    font-family: sans-serif;
    
}

.seasons-dropdown
{
    margin-left: 20px;
    border-radius: 20px;
    padding: 5px;
}
.seasons h2{
    text-align: left;
    margin-left: 20px;
}

.seasons-scroll-wrapper {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.seasons-scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 10px;
    width: 95%; 
    padding: 10px 0;
    white-space: nowrap;
    margin-top: 10px;
}

.seasons-scroll-container::-webkit-scrollbar {
    display: none;
}

.seasons-card {
    text-align: center;
    flex: 0 0 auto;
    width: 150px; 
}

.seasons-card img {
    width: 100%;
    border-radius: 10px;
}
.seasons-card p {
    max-width: 100px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
    font-size: 12px;
}

.scroll-button.seasons-left {
    left: 10px;
}

.scroll-button.seasons-right {
    right: 10px;
    
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


   
@media (max-width: 480px) {
    .tvDetail {
        padding-top: 50px;
        text-align: center;
        
    }

    .tvDetail-body {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .tvDetail-img {
        width: 100px; 
        height: auto;
        border-radius: 8px;
    }

    .tvDetail h2 {
        font-size: 14px;
        margin-top: 5px;
    }

    .tvDetail-container2 p {
        font-size: 12px;
        line-height: 1.4;
        margin: 5px 0;
        align-items: center;
        text-align: center;
    }

    .tvDetail-container3 p{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .trailer-container iframe {
        width: 75%;
        height: 200px;
        border-radius: 8px;
    }
}



